.row {
  width: 100%;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }

    @include respond(phone) {
      width: 100% !important;
    }
  }

  .col-1-of-3 {
    width: calc((100% - 2*#{$gutter-horizontal})/3);
  }

  .col-2-of-3 {
    width: calc(2*((100% - 2*#{$gutter-horizontal})/3) + #{$gutter-horizontal});
  }
}
