@import 'https://fonts.googleapis.com/css?family=Raleway';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75rem) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.pageCon {
  background-color: #eee; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 4rem;
  font-weight: 400; }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }

.heading-secondary {
  color: #ff3333;
  text-transform: uppercase;
  margin: 0rem 0.5rem;
  display: block;
  font-size: 5rem;
  font-weight: 800; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  display: block;
  color: #282828;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2.5rem; } }

.btn-link:link, .btn-link:active, .btn-link:visited, .btn, .btn--silver {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 100px;
  cursor: pointer; }

.btn-link:link, .btn-link:active, .btn-link:visited {
  display: inline-block;
  color: #000;
  font-size: 1.6rem;
  background-color: #c0c0c0;
  font-weight: 600;
  padding: 0.5rem 2rem;
  margin: 1rem;
  width: 15rem; }
  @media (max-width: 37.5em) {
    .btn-link:link, .btn-link:active, .btn-link:visited {
      font-size: 1rem;
      width: 10rem; } }

.btn {
  background-color: #c0c0c0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  margin: 1rem;
  line-height: inherit;
  font-family: inherit;
  border: none;
  width: 15rem; }
  @media (max-width: 37.5em) {
    .btn {
      font-size: 1rem;
      width: 10rem; } }

.btn--silver {
  background-color: #c0c0c0;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  margin: 1rem;
  line-height: inherit;
  font-family: inherit;
  border: none;
  width: 15rem; }
  @media (max-width: 37.5em) {
    .btn--silver {
      font-size: 1rem;
      width: 10rem; } }

.btn-text-red:link, .btn-text-red:active, .btn-text-red:visited {
  color: #cc0000; }

.row {
  width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 2rem; }
    @media (max-width: 37.5em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-3 {
    width: calc((100% - 2*2rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*2rem)/3) + 2rem); }

.main-display {
  height: 75vh;
  width: 100%; }

.navbar {
  width: 100%;
  background-color: #272727;
  padding-right: 10rem; }
  .navbar::after {
    content: '';
    clear: both;
    display: table; }
  @media (max-width: 37.5em) {
    .navbar {
      padding-right: 2rem; } }

.buttons {
  float: right; }

.searchForm {
  padding-bottom: 2rem; }

.search__input {
  border: 0;
  border-bottom: 2px solid #ff3333;
  width: 25rem;
  font-size: 3rem;
  text-align: center;
  background: transparent; }
  @media (max-width: 37.5em) {
    .search__input {
      width: 100%;
      padding: 2rem; } }

.header {
  width: 100%;
  background-color: #5a5a5a;
  padding-left: 10rem; }
  @media (max-width: 37.5em) {
    .header {
      padding: 0 3rem; } }

.svg_display {
  width: 100%; }
  .svg_display svg {
    width: 100%;
    height: 63vh;
    font-size: 1.6rem;
    background-color: #fff; }

.headlines {
  overflow: scroll;
  height: 72vh; }
  .headlines__item {
    padding-top: 3rem;
    padding-left: 4rem; }
  .headlines__link:link, .headlines__link:active, .headlines__link:visited {
    text-decoration: none;
    border-radius: 100px;
    color: #282828;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem; }

.btn__link {
  font-size: 1.6rem;
  background-color: #c0c0c0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  border: none;
  display: inline-block;
  float: right;
  border-radius: 100px;
  width: 10rem;
  padding: 1rem;
  margin-right: 1.5rem; }

.manual {
  padding: 0 5rem;
  overflow: scroll; }
  .manual p {
    font-size: 1.6rem;
    color: #020202; }
