.pageCon {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: #3aafa9;
  padding: 1rem;
  width: 95vw;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.titlesCon {
  display: flex;
  flex-direction: column;
  width: 30vw;
  flex-wrap: wrap;
  margin-right: 2vw;
  background-color: #def2f1;
}

.flex-container h2 {
  width: 60vw;
  height: 10vh;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "ubuntu";
}

#root {
  display: flex;
  justify-content: row;
}

.searchBar {
  align-self: flex-start;
  width: 30wv;
}

.sidebarItem {
  overflow-wrap: break-word;
  word-wrap: break-word;
  /*text-overflow: ellipsis;
  overflow: hidden;*/
  padding: 5px 10px;
}

#d3_display {
  align-self: flex-start;
  width: 60vw;
  height: 100vh;
  display: inline-block;
}

a p {
  font-size: 1rem;
  color: #17252a;
  outline: none;
}

a {
  outline: none;
}

h1 {
  color: #feffff;
}

a: visited {
  color: #324f17;
}
