.searchForm {
  padding-bottom: 2rem;
}

.search__input {
  border: 0;
  border-bottom: 2px solid $color-bright-red;
  width: 25rem;
  font-size: 3rem;
  text-align: center;
  background: transparent;

  @include respond(phone) {
    width: 100%;
    padding: 2rem;
  }
}
