.navbar {
  width: 100%;
  background-color: darken($color-silver, 60);
  // background-color: linear-gradient(to right, yellow, red);
  padding-right: 10rem;

  @include clearfix;

  @include respond(phone) {
    padding-right: 2rem;
  }
}

.buttons {
  float: right;
}
